<h1>Burgers!</h1>

<h2>Burgers I want to eat...</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that I've eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div>

  <div class="form-group">
    <label for="dev">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Hungry!<br>
    <input type="radio" name="devoured" value="0"> Full
  </div>

  <button type="submit">Add Burger</button>
</form>
